{% extends "base.html" %}
{% load static %}
{% block conteudo %}
<h1 class="text-center">Sobre Nós</h1>
<p class="text-center">
    Somos estudantes do curso de ciências da computação e criamos nossa loja para o trabalho de desenvolvimento e aplicações web. Adoramos aparelhos eletrônicos e decidimos abrir nossa loja. Desde sua criação, a loja é formada por dedicação de uma equipe parceira e focada em agilidade, qualidade de atendimento, velocidade de entrega e respeito pelo consumidor.
</p>
<!--<img src="{{ imagem }}" height="150px" width="auto">-->
<img src="{% static 'img/estudantes.jpg' %}" height="1200px" width="auto">

{% endblock conteudo %}

